/* Met Office external website                                                                            

Colours:
- black/dark grey: #202A2C
- dark grey: #666666      
- grey: #DDDDDD (thin lines)
- light grey: #EEEEEE (background colour)
- darkish green: #BCDB0C                 
- green: #CCFF33                         
- darkish blue: #4BA8BA                  
- blue: #00ADD0                          

*/

/*******************************************************************************
 * GENERAL
 ******************************************************************************/
/*<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700' rel='stylesheet' type='text/css'>*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700);

body {
    font-size: 15px;
    font-family: "Open Sans", sans-serif !important;
    /*white-space: pre-wrap;*/
    color:white;
}
body.body-index{
    background:#000 url(../imgs/gallery_bg.jpg) no-repeat fixed top center;
    background-size: cover;
}

div.two-panels {
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.tree-panel {
    flex: 24vw;
    padding-left: 1vw;
    height: 100%;
    overflow: auto;
    border-right: 3px solid;
    

    background: linear-gradient(to bottom, rgba(17,17,17,0.9) 0%, rgba(0,0,0,0.8) 100%) 
}

div.page-panel {
    flex: 75vw;
    margin: 0;
    padding: 0;
    font-size: 0;
}

div.page-panel iframe {
    width: 74vw;
    margin-left: 1vw;
    border: 0px;
    margin-top: 0px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

div.page {
    line-height: 30px;
    font-size: 16px;    
    padding: 20px; 
    background: rgba(0,0,0,0.9);
    border-radius: 4px;
    margin: 20px 20px 20px 10px;
    overflow:hidden;
}

div.page img{
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

.clear {
    clear: both
}

/*******************************************************************************
 * TREE INDEX
 ******************************************************************************/

div.tree {
    font-size: 14px;
    color: #aaa;
}

/* fix for firefox */
div.tree button{
    border: none;
    padding:3px 10px;
    color: #ccc;
    background-color: rgba(24,255,139,.1);
    cursor: pointer;
    border-radius: 5px; 
}
div.tree button:hover{
    background-color: rgba(24,255,139,.3);
}
#show-panel {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    padding:10px 15px;
}
#show-panel>div{
    background-image: url("../imgs/pngegg.png");
    width:30px;
    height: 30px;
    background-size: 100% 100%;
}

div.tree a, div.tree a:visited {
    color: #ccc;
    text-decoration: none;
}

div.tree a:hover {
    text-decoration: underline;
}

div.tree h2{
     
    background: url(../imgs/candle.gif) top left no-repeat;
    background-size: auto;
    background-size: contain;
    padding: 10px 0 0 40px;
}
div.tree h2 a, div.tree h2 a:visited {
    color: #000;
    text-shadow: 0 0 5px #fc0, 0 0 10px #fb0, 0 0 30px #fa0;
    opacity: 0.8;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;

}
div.tree h2 a:hover{
    color:#420;
    text-decoration: none;
    text-shadow: 0 0 5px #fc4, 0 0 10px #fb4, 0 0 30px #fa4;
}
div.tree h3 a, div.tree h3 a:visited {
    color: #00d482;
}
div.tree h3 a:hover {
    color: #04915a;
}

div.tree ul {
    padding-inline-start: 20px;
    list-style-type: none;
    line-height: 0.3;
}

div.tree ul.outermost {
    padding-inline-start: 0;
}

div.tree li {
    padding-inline-start: 0;
}
div.tree li.leaf {
    padding-inline-start: 10px;
    line-height: 2;
}

div.tree a.show, div.tree a.hide { display: none; }

.hide {
    display: none;
}

/*******************************************************************************
 * NODE PAGES
 ******************************************************************************/

/* TABLES */

table {
    border: 1px solid #AAAAAA;
}

th {
    background-color: #EEEEEE;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid #AAAAAA;
}

/* HEADINGS */

div.page h1 {
    font-weight: bold;
    display: inline;
}

div.page h1.title {
    text-decoration: none;
    color:#00d482;
    border-bottom: 1px dotted #666;
    display: block;
    padding-bottom: 20px;
    line-height: 40px;
    font-size:26px;
}

div.page h2 {
    padding-top: 1em;
    /*padding-bottom: 0.5em;*/
    font-weight: bold;
    font-size: 150%;
    color: #cccccc;
    display: inline;
}

div.page h3 {
    padding-top: 0.75em;
    font-weight: bold;
    font-size: 125%;
    color: #cccccc;
    display: inline;
}

/* LINKS */

/*div.page a, div.page a:visited {
    color: #005BCA;
    text-decoration: none;
}

div.page a:hover, div#me a:hover {
    text-decoration: underline;
}*/

/* CODE */

span.code-node {
    /*color: #FFFF00;  /* yellow */
}

div.codebox, div.page code, div.page pre {
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-size: 13px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
}

div.page p.tagged-text,
div.page code {
    /*color: #859C00;*/
    padding-left: 0.25em;
    padding-right: 0.25em;
}

div.page pre {
    padding: 0.25em;
    overflow: auto !important;
    width: 75%;
}


/* IMAGES */

/*img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}*/

.mobile{
    display: none;
}
#show-panel{display: none;}

.rasskazi-list{
    float: left;
}
.rasskazi-pdf li a{
    color:#bbb;
    text-decoration: none;
}
.rasskazi-pdf li a:hover{
    color:white;
    text-decoration: none;
}


.index-page{
    padding:40px;
}
@media (max-width: 900px) {
    body {
        font-size: 18px;
    }
    .mobile{
        display: inline;
    }
    div.tree-panel{
        min-width: 250px;
        position: absolute;
        display: none;
        background: linear-gradient(to bottom, #101010 0%,#101010 75%,#844600 100%);
    }
    div.page-panel iframe{
        width:100%;
    }
    #show-panel{
        display: inline;
        position: absolute;
        right: 15px;
    }
    .mobile-show #show-panel{
        display: none;
    }
    .mobile-show div.tree-panel{
        display: block;
    }

    img{
        width: 100%;
    }

    div.tree {
     font-size: 16px;
    }
    div.page{
        font-size: 18px;

    }
    .index-page{
        padding:20px;
    }
}


.lucid_post {

    border-radius: 0px;
    float: left;
    overflow: hidden;
    -webkit-transition: .3s box-shadow cubic-bezier(.4,0,.2,1);
    transition: .3s box-shadow cubic-bezier(.4,0,.2,1);
    width: 33%;
    height:515px;

    background-color: rgba(0,0,0,0.6);
    position: relative;
}
@media (max-width: 1000px) {
    .lucid_post {
        width: 50%;
    }
}
@media (max-width: 600px) {
    .lucid_post {
        width: 100%;
    }
}

.lucid_content{
    padding:10px 20px;
    overflow:hidden;
    height: 255px;
    font-size: 14px;
}

.snippet-thumbnail {
    display: block;
    background-position: center;
    background-size: cover;
    width: 100%;
    -webkit-transition: .3s opacity cubic-bezier(.4,0,.2,1);
    transition: .3s opacity cubic-bezier(.4,0,.2,1);
}
.snippet-thumbnail, .snippet-thumbnail-container {
    height: 184px;
    overflow-y: hidden;
}
.lucid_title{

    font: 500 16px Ubuntu, sans-serif;
    padding:10px 20px 10px 20px;
    border-bottom:1px dotted #666;
    white-space: nowrap;

}
.lucid_post a{
    color:#fff;
    text-decoration: none;
}


.icon {
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  float:right;
}

.arrow {
  position: absolute;
  top: 12px;
  width: 90%;
  height: 5px;
  background-color: #00d482;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
}

.arrow::after, .arrow::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 5px;
  left: -3px;
  background-color: #00d482;
}

.arrow::after {
  top: -6px;
  transform: rotate(-45deg);
}

.arrow::before {
  top: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  transform: rotate(45deg);
}